$jumbotron-bg: #a9a5a559;
$jumbotron-color: #ffffff;

@import "node_modules/bootstrap/scss/bootstrap";

/*body{
    background-image: url(../img/images.jpg);
    background-size: cover;
}*/

#CarouselPrincipal img{
    height: 500px;
}

footer{
    background-color: burlywood;
}

#Info{
    display: flex;
    align-items: center;
}

#Icon{
    text-align: center;
    font-size: 50px;
    height: 25px;
}